/*******************************
            　Grid
*******************************/

.grid {
    position: relative;
    top: 60px;
    min-height: calc(102vh - 40px);
    padding-left: 1rem;
}

/*******************************
            Row
*******************************/

.row {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

/*******************************
            Container
*******************************/

.siderbarcontainer {
    margin: 40px 0 0;
    max-height: 90vh;
    padding: 0 16px;
    position: sticky;
    top: 40px;
    height: 580.800px;
    width: 256px;
}

@media only screen and (max-width: 600px) {
    .siderbarcontainer {
        display: none;
    }
}

/*******************************
            Grid.Column
*******************************/

.siderbarcolumn {
    margin-top: 0;
    margin-bottom: 0;
}

/*******************************
            List
*******************************/

.list {
    border-bottom: 1px solid #091e4224;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;

}

/*******************************
            Item
*******************************/

.item {
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: none;
    color: #172b4d;
    font-weight: bold;
    display: flex;
    gap: 8px;
    margin: 0;
    margin-bottom: 5px;
    min-height: 20px;
    overflow: hidden;
    padding: 12px 14px;
    text-decoration: none;
}

.item:hover {
    background: #091e4224;
}

.item:active {
    background: #848ea0;
    color: #0c66e4;
}

/*******************************
            Icon
*******************************/

.icon {
    color: currentColor !important;
    height: 30px;
    width: 30px;
    line-height: 24px;
}

.check {
    color: #172b4d;
    height: 50px;
    width: 50px;
}

/*******************************
            Container
*******************************/

.allboard {
    margin: 40px 16px 0;
    max-width: 825px;
    min-width: 288px;
    width: 100%;
    /* border-bottom: 1px solid var(--ds-border, #091e4224); */
}

/*******************************
            Column
*******************************/

.column {
    display: block;
}

/*******************************
            Container
*******************************/

.container {
    display: block;
}

/*******************************
            Header
*******************************/

.headeritem {
    color: #172b4d;
    display: flex;
    font-weight: bold;
    font-size: 22px;
}

.hr {
    background-color: #091e4224;
    border: 0;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}

/*******************************
            Table
*******************************/

.table {
    margin-bottom: 16px;
    width: 100%;
    border-collapse: collapse;
}

.th {
    font-weight: bold;
    border-top: none;
    font-size: 22px;
    border-bottom: 3px solid #091e4224;
    padding: 20px;
    text-align: left;
}

.td {
    border: none;
    padding: 20px;
    border-bottom: 2px solid #091e4224;
    text-align: left;
}

.thid {
    font-weight: bold;
    border-top: none;
    font-size: 22px;
    border-bottom: 3px solid #091e4224;
    padding: 20px;
    text-align: center;
}

.tdid {
    border: none;
    padding: 20px;
    border-bottom: 2px solid #091e4224;
    text-align: center;
}

.thd {
    font-weight: bold;
    border-top: none;
    font-size: 22px;
    border-bottom: 3px solid #091e4224;
    padding: 18px;
    text-align: center;
}

.tdd {
    border: none;
    padding: 12px;
    border-bottom: 2px solid #091e4224;
    text-align: center;
}

/*******************************
            Button
*******************************/

.button {
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #0c66e4;
    border-radius: 4px;
    padding: 10px 15px;
}

.button:hover {
    background-color: #194e98;
}

.checkbutton {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    background: none;
    position: fixed;
    bottom: 150px;
    right: 150px;
}