/*******************************
            Siderbar
*******************************/

.siderbaroverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    display: none;
}

.siderbaroverlay.active {
    display: block;
}

/*******************************
            Container
*******************************/

.container {
    margin: 40px 0 0;
    max-height: 90vh;
    padding: 0 16px;
    position: sticky;
    top: 40px;
    height: 580.800px;
    width: 256px;
}

@media only screen and (max-width: 600px) {
    .container {
        display: none;
    }
}

/*******************************
            Grid.Column
*******************************/

.column {
    margin-top: 0;
    margin-bottom: 0;
}

/*******************************
            List
*******************************/

.list {
    border-bottom: 1px solid #091e4224;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;

}

/*******************************
            Item
*******************************/

.item {
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: none;
    color: #172b4d;
    font-weight: bold;
    display: flex;
    gap: 8px;
    margin: 0;
    margin-bottom: 5px;
    min-height: 20px;
    overflow: hidden;
    padding: 12px 14px;
    text-decoration: none;
}

.item:hover {
    background: #091e4224;
}

.item:active {
    background: #848ea0;
    color: #0c66e4;
}

.worklistitem {
    color: #172b4d;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-left: 0.6em;
    margin-bottom: 1em;
}

.listitem {
    margin-left: 12px;
    color: #44546f;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px 10px;
    position: relative;
    cursor: pointer;
}

.listitem:hover {
    background: #091e4224;
    color: #172b4d;
}

/*******************************
            Icon
*******************************/

.icon {
    color: currentColor !important;
    height: 30px;
    width: 30px;
    line-height: 24px;
}

.icon1 {
    float: right;
    color: currentColor !important;
    position: relative;
    line-height: 24px;
    margin-right: 4px;
    align-content: center;
}

.icon2 {
    color: currentColor !important;
    height: 24px;
    width: 24px;
}

/*******************************
            List
*******************************/

.siderbarlist {
    display: block;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
    padding-top: 12px;
    padding-bottom: 40px;
    list-style: none;
    margin: 0;
}

/*******************************
            Button
*******************************/

.button {
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    margin: -2.5px 12px 0 0;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: none;
    display: flex;
    overflow: hidden;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
    cursor: pointer;
}

/*******************************
            Chevron
*******************************/

.chevron {
    transition: transform 0.3s ease;
}

.chevron.open {
    transform: rotateX(180deg);
}

/*******************************
            DropdownMenu
*******************************/

.dropdownMenu {
    background-color: transparent;
    border: none;
}

.dropdownList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #172b4d;
}

.dropdownList li {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    color: #44546f;
    min-height: 20px;
    padding: 8px 16px;
    gap: 8px;
    border-radius: 12px;
}

.dropdownList li:hover {
    background: #091e4224;
    color: #172b4d;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding-left: 0.3em;
    transition: .25s color ease .1s, .25s padding-left ease .1s, .25s background-color ease .1s;
}

.dropdownList li:active {
    background: #848ea0;
    color: #0c66e4;
}

/*******************************
            Modal
*******************************/

.modalcontent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 8px;
    padding: 40px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modalcontentHeader {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 15px;
}

.modalcontent p {
    font-size: 18px;
    width: 30rem;
    box-shadow: 0 -1px 0 0 rgba(34, 36, 38, .15);
    padding-top: 10px;
    margin: 12px auto 24px;
}

.modalcontent label {
    display: block;
    color: #000;
    margin: 0 0 0.28571429rem 0;
    font-size: .92857143em;
    font-weight: 700;
}

.modalcontent input {
    padding: 10px 12px;
    margin-bottom: 15px;
    color: #666;
    border: none;
    box-shadow: inset 0 0 0 2px #091e4224;
    border-radius: 4px;
    width: 96%;
}

.modalcontent button {
    background-color: #0c66e4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modalcontent button:hover {
    background-color: #194e98;
  }

/*******************************
          Modal Label
*******************************/

.label {
    display: block;
    color: #000;
    margin: 0 0 0.28571429rem 0;
    font-size: .92857143em;
    font-weight: 700;
}

/*******************************
          Modal Drop
*******************************/

.drop {
    margin-bottom: 12px;
}

.dropOption {
    position: relative;
    width: auto;
    color: #666;
    width: 100%;
    font-size: 20px;
    background-color: #fff;
    padding: 12px 12px;
    border: none;
    box-shadow: inset 0 0 0 2px #091e4224;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        top: 20px;
        right: 20px;
        border-width: 8px 6px;
        border-style: solid;
        border-color: #999 transparent transparent transparent;
    }
}

.dropdown {
    display: none;
    width: 88.5%;
    max-height: 350px;
    position: absolute;
    color: #333;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 3px 0px #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: auto;
    z-index: 10;
}

.dropdown.open {
    display: block;
}

.dropdown li {
    display: block;
    color: #000;
    padding: 12px;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;

    &:first-child {
        margin: 10px;
    }

    &:last-child {
        margin-bottom: 10px;
    }

    &:hover {
        background-color: #091e4224;
        border-radius: 6px;
    }
}

/*******************************
           　TextArea
*******************************/

.textArea {
    padding: 10px 12px;
    border-radius: 4px;
    border: none;
    box-shadow: inset 0 0 0 2px #091e4224;
    margin-bottom: 12px;
    width: 96%;
}

/*********************************************************************************************/

/*******************************
          　Home
*******************************/

.Homeoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    display: none;
}

.Homeoverlay.active {
    display: block;
}

/*******************************
          　Grid
*******************************/

.grid {
    position: relative;
    top: 60px;
    min-height: calc(102vh - 40px);
    padding-left: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

/*******************************
            Row
*******************************/

.row {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

/*******************************
            Container
*******************************/

.rightcontainer {
    margin: 40px 16px 0;
    max-width: 825px;
    min-width: 288px;
    width: 100%;
}

/*******************************
            Item
*******************************/

.headeritem {
    color: #172b4d;
    display: flex;
    font-weight: bold;
    font-size: 24px;
}

.litlteheaderitem {
    color: #172b4d;
    font-weight: bold;
    font-size: 20px;
    margin-block-start: 1.5em;
    margin-block-end: 1em;
}

/*******************************
            List
*******************************/

.canband {
    display: flex;
    flex-wrap: wrap;
}

.canbandname {
    flex: 0 0 calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
    color: #172b4d;
    background-color: #091e420f;
    border-radius: 8px;
    background-position: 50%;
    padding: 18px;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .canbandname {
        flex: 0 0 calc(50% - 20px);
    }
}



.modalcontentSelect {
    position: relative;
    display: inline-block;
    /* 使其成為行內塊元素，以便可以放置 ul 元素 */
}

.modalcontentSelect ul {
    list-style-type: none;
    /* 移除預設的列表樣式 */
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    /* 將下拉列表定位到上方 */
    left: 0;
    background-color: #fff;
    /* 下拉列表的背景色 */
    border: 1px solid #ccc;
    /* 下拉列表的邊框 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* 下拉列表的陰影效果 */
    z-index: 1;

    /* 使下拉列表浮在其他元素之上 */
}

/*******************************
            Button
*******************************/

.rightbutton {
    padding: 0;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    margin-bottom: 0.5em;
}

.button:hover,
.rightbutton:hover {
    background: #091e4224;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #172b4d;
}

.button:active,
.rightbutton:active {
    background: #848ea0;
    color: #0c66e4;
}

/*******************************
            Model
*******************************/

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 8px;
    padding: 35px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modalHeader {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 15px;
}

.modal p {
    width: 20rem;
    box-shadow: 0 -1px 0 0 rgba(34, 36, 38, .15);
    padding-top: 10px;
    margin: 12px auto 6px;
}

.modal input {
    padding: 8px 12px;
    margin-bottom: 15px;
    color: #666;
    border: none;
    box-shadow: inset 0 0 0 2px #091e4224;
    border-radius: 4px;
    width: 94%;
}

.modal label {
    display: block;
    color: #000;
    margin: 0 0 0.28571429rem 0;
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

.modal button {
    background-color: #0c66e4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #194e98;
  }

/*******************************
          Modal Drop
*******************************/

.workspacedrop,
.permissiondrop {
    margin-bottom: 12px;
}

.workspacedropOption,
.permissiondropOption {
    position: relative;
    width: auto;
    color: #666;
    width: 100%;
    font-size: 20px;
    background-color: #fff;
    padding: 12px 12px;
    border: none;
    box-shadow: inset 0 0 0 2px #091e4224;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        top: 20px;
        right: 20px;
        border-width: 8px 6px;
        border-style: solid;
        border-color: #999 transparent transparent transparent;
    }
}

.workspacedropdown,
.permissiondropdown {
    display: none;
    width: 85.5%;
    max-height: 350px;
    position: absolute;
    color: #172b4d;
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 3px 0px #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: auto;
    z-index: 10;
}

.workspacedropdown.open,
.permissiondropdown.open {
    display: block;
}

.workspacedropdown li,
.permissiondropdown li {
    display: block;
    color: #172b4d;
    padding: 12px;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;

    &:first-child {
        margin: 10px;
    }

    &:last-child {
        margin-bottom: 10px;
    }

    &:hover {
        background-color: #091e4224;
        border-radius: 6px;
    }
}

/*******************************
            Loading
*******************************/

.loading {
    cursor: not-allowed;
}

.spinner {
    /* 添加一些 spinner 图标的样式 */
    margin-right: 5px;
    /* 例如设置右边距 */
    animation: spin 1s infinite linear;
    /* 例如添加旋转动画 */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}