/*******************************
            Container
*******************************/

.sbcontainer {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    width: 12px;
    z-index: 3;
}

.active {
    transform: translate3d(250px, 0, 0) !important;
    transition: transform 0.3s ease;
}

/*******************************
            Div
*******************************/

.div {
    position: fixed;
    flex: 1;
    width: 1%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*******************************
            Button
*******************************/

.sidebarbutton {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border-width: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    transform: translate3d(-130%, 0, 0);
    transition: transform 0.3s ease;
}

.sidebaricon {
    border-radius: 50%;
    height: 28px;
    width: 28px;
    margin: 15px 0 0 5px;
    display: flex;
    background-color: #DFE1E6;
    justify-content: center;
    align-items: center;
    border: 1px solid #00000029;
}

.rotate {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
    /* 旋轉180度 */
}

/*******************************
            Item
*******************************/

.teamname {
    position: fixed;
    backdrop-filter: blur(4px);
    background: lightblue;
    color: #172b4d;
    font-weight: bold;
    border-radius: 4px;
    padding: 16px 10px;
    padding-left: 20px;
    top: 70px;
    width: 95.5%;
    z-index: 0;
}