 /* .outwide {
   width: 300px;
   height: 30%;
   gap: 20px;
   border: 2px solid #000;
   添加一个2px宽的黑色边框
   padding: 10px;
   为了更好的外观，你可以添加内边距
   display: inline-block;
 } */

 /* .container {
   width: 300px;
   padding: 10px;
   overflow-x: auto;

 } */

 /* .container>div {
   background: #f0f0f0;
   padding: 10px;
   border-radius: 5px;
   width: 200px;
   或者是您想要的任何寬度
   margin: 0 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 } */

 /* .draggable-container {
   display: flex;
   flex-direction: column;
 } */

 /* .draggable-item {
   margin: 5px 0;
   padding: 10px;
   background: #fff;
   border: 1px solid #ddd;
   border-radius: 3px;
   cursor: grab;
 } */

 /* .draggable-item.dragging {
   opacity: 0.5;
 } */
